@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

html{
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background-color: #FFFFFF;
}

.page-header {
  color: #000000;
}

.page-footer {
  color: #FFFFFF;
  background-color: #444444;
}

.navigation {
  width: 1160px;
  margin: 0 auto;
  color: #000000;
  background-color: #FFE17F;
}

.navigation-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 1040px;
  display: flex;
  justify-content: space-between;
}

.navigation-user {
  width: 1040px;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.search-form {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.account-link {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: inherit;
  text-decoration: none;
}

.navigation-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
}

.slider-pagination-item {
  display: flex;
}

.slider-logo {
  width: 560px;
  height: 560px;
}

.slider-description {
  width: 560px;
  height: 400px;
}

.slider-pagination h2 {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.device-detail-description {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #444444;
}

/*ПОДРОБНЕЕ  и другие такие же ссылки*/
.detailed {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}

.abilities-header {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
}

.abilities-footer {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #444444;
}

.products {
  margin-top: 70px;
}

.products-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #ffffff;
}

.products-logo {
  width: 160px;
  height: 160px;
}

.products-yellow {
  background-color: #FFE17F;
}

.products-item a {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
  text-decoration: none;
}
.client-info-section {
  background-color: #F0F0F0;
  color: #000000;
  margin-top: 70px;
}

.client-info {
  background-color: #F0F0F0;
  display: flex;
}

.client-info-description {
  width: 290px;  /*287px;*/
  height: 320px; /*319px;*/
}

.client-info-detail {
  width: 870px;  /*1160-290px;*/
  height: 320px; /*319px;*/
}

.client-info h2 {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.client-info-choice-description-button {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: #FFFFFF;
  border: none;
}

.client-info-detail-description {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  width: 448px;
  height: 90px;
}

/*Доставим редкий товар под заказ*/
.rare-product {
  /*  font-family: "Raleway", sans-serif;
    color: #000000;
    background-color: #FFFFFF;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
  display: flex;*/
  height: 100px;
  margin-top: 70px;
}

.rare-product-logo {
  width: 125px;
  height: 100px;
  float: left;
  background-color: #FFE17F;
}

.rare-button-logo {
  margin: 35px 85px 34px 40px;
}

.rare-text {
  width: 910px;
  height: 20px;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  margin-top: 40px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.rare-product-button{
  width: 100%;
  height: 100px;
  margin: 0;
  padding: 0;
  border: none;
  display: flex;
}

.rare-product h2 {
  font-size: 20px;
  line-height: 23px;
}

.rare-product-img {
  width: 125px;
  background-color: #FFE17F;
}

.rare-product-text {
  flex-grow: 1;
  margin: auto;
}
.rare-product-icon {
  width: 125px;
  margin: auto;
}

/*О нас*/
.about-us h2 {
	font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.about-us h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
	color: #444444;
}

.about-us-text {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.about-us {
  display: flex;
}

.delivery-info {
  min-height: 520px;
  width: 500px; /*493px*/
  margin-right: 108px;
}

.contacts {
  min-height: 540px; /*532px*/
  width: 550px;  /*545px*/
}


.delivery-item {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}


/* Подпишитесь на рассылку*/
.mailing {
  color: #000000;
  background-color: #F0F0F0;
  margin-top: 70px;
}

.mailing-adv {
  display: flex;
}

.mailing h2 {
	font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  width: 348px;
  height: 100px;
}

.mailing-text {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  width: 560px;
  height: 90px;
  margin-left: 252px;
}

/* ПОДПИСАТЬСЯ*/
.mailing-email {
  display: flex;
}

.button-subscribe {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.page-footer h2 {
  font-size: 12px;
  line-height: 21px;
}

/* Адрес */
.about-text {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.footer-info-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: inherit;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
}

/* Телефон */
.footer-contacts-address-phone {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.social-networks-buttons a {
  color: inherit;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1160px;
  margin: 0 auto;
}

.page-footer-container {
  width: 1160px;
  margin: 0 auto;
  display: flex;
}

.footer-contacts {
  width: 234px;
  height: 182px;
  margin-right: 124px
}

.footer-info {
  width: 444px;
  height: 123px;
  margin-right: 183px
}

.footer-telephone {
  max-width: 175px;
  height: 116px;
}
.footer-info-list {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}


/*Каталог*/
.main-inner h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.main-inner h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 12px;
  line-height: 12px;
}

.inner-header {
  width: 1079px;
  min-height: 86px;
  margin: 35px auto 35px auto;
}

.inner-header-title {
  margin-bottom: 16px;
}

.breadcrumbs {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  list-style-type: none;
  display: flex;
}

.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
  margin-right: 36px;
}

.catalog-section{
  color: #000000;
  background-color: #F0F0F0;
}

.catalog-products {
  background-color: #F0F0F0;
  display: flex;
  margin-top: 34px;
}

.catalog-all-filters {
  width: 320px;
  min-height: 1316px;
}

/* ФИЛЬТР СОРТИРОВКА*/
.sort {
  width: 840px;
  height: 70px;
  background-color: #F0F0F0;
  color: #000000;
  display: flex;
  justify-content: space-around;
}
.sort-item {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/*Популярное*/
.select-control {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

/* Стоимость Цвет Bluetooth*/
.filter-group-title {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

/*Черный белый Есть нет*/
.filter-group-list {
  list-style-type: none;
}
.control {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

/* товары */
.catalog-right-column {
  width: 840px;
  min-height: 1310px;
  background: #FFFFFF;
  color: #000000;
}

.product-list {
  background-color: #FFFFFF;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  width: 360px;
  height: 452px;
  margin-right: 40px;
}

.product-card a {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: inherit;
  text-decoration: none;
}

.product-card-descr {
  display: flex;
  justify-content: baseline;
}

.product-card-price {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #444444;
}

/*Загрузить еще*/
.pagination-show-more {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: #ffffff;
  color: #000000;
  margin: 0 auto;
  height: 55px;
  width: 760px;
  vertical-align: middle;
}
/* Пагинация вперед-назад*/
.pagination {
  color: #444444;
  background-color: #EBEBEB;
  text-transform: uppercase;
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  width: 760px;
  height: 71px;
  margin: 44px auto 44px auto;
  align-items: center;
}

.pagination-prev {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  opacity: 0.3;
}
.pagination-next {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
}
.pagination-item {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.pagination a {
  color: #444444;
  text-decoration: none;
}

.pagination-current a {
  opacity: 0.6;
}

.pagination-disabled a {
  opacity: 0.3;
}

.pagination-next a {
	color: #000000;
}
